.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto, auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  align-items: end;
}

.element {
  display: grid;
}

.strike {
  text-decoration: line-through;
}

.el-img {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 128px;
  padding-top: 10px;
}


/* (A) SPEECH BOX */
.speech {
  /* (A1) FONT */
  font-family: arial, sans-serif;
  font-size: 1.1em;
  color: #fff;
  /* (A2) DIMENSIONS + BACKGROUND */
  position: relative;
  background: #a53d38;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
}

/* (B) ADD SPEECH "CALLOUT TAIL" */
/* (B1) ATTACH TRANSPARENT BORDERS AFTER */
.speech::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
  border-left-color: #a53d38;
  bottom: -20px;
  left: 60%;
}