.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
}



.cell {
  margin: 16px;
  padding: 16px;
  background-color: black;
  color: white;
}

.active {
  background-color: darkblue;
  color: yellow;
}
