@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
}

.cell {
  font-family: 'Open Sans', sans-serif;
  margin: 16px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 36px;
  font-weight: bold;
  background-color: yellow;
  border-radius: 50%;
  color: black;
  box-shadow: 10px 5px 5px rgb(208, 255, 0);
}

.active {
  background-color: darkblue;
  color: yellow;
}
